/* Tabs */
.gdg-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.gdg-tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	background-color: var(--sec-bg-color);
	border-radius: 30px;
	padding: 5px !important;
	width: fit-content;
	margin: auto;
}

.gdg-tab-btn {
	background-color: transparent;
	border: none;
	padding: 10px 25px;
	border-radius: 25px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: var(--sec-text-color);
}

.gdg-tab-btn.active {
	background-color: var(--bg-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: var(--text-color);
}

/* Search Bar */
.gdg-search-container {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.gdg-search-input {
	width: 250px;
}

/* Events Grid */
.gdg-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

/* Event Card */
.gdg-event-card {
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--bg-color);
	flex: 0 0 auto;
	border: 1px solid var(--border-color);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	height: fit-content;
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.gdg-event-card:hover {
	box-shadow: 0 4px 10px var(--color-shadow);
	transform: translateY(-5px);
}

.gdg-event-image {
	height: 170px;
	background-color: #f5f5f5;
	position: relative;
}

.gdg-event-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.gdg-event-type {
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: var(--bg-color);
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	color: var(--text-color);
}

.gdg-event-content {
	padding: 20px;
	background-color: var(--bg-color);
}

.gdg-event-title {
	color: var(--text-color);
	font-size: 20px;
	margin: 0;
	font-weight: 400;
	word-wrap: break-word;
}

.gdg-event-details {
	margin-top: 15px;
	margin-bottom: 15px;
}

.gdg-event-detail {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--sec-text-color);
}

.gdg-event-icon {
	margin-right: 8px;
	color: var(--sec-text-color);
	font-size: 17px;
	flex-shrink: 0;
}

.gdg-event-description {
	font-size: 12px;
	color: var(--sec-text-color);
	margin-bottom: 15px;
	line-height: 1.6;
}

.gdg-grid.project .gdg-event-description {
	margin: 0 !important;
}

/* Details */
.user-body.eventdetails .event-hero-section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: auto;
	min-height: 400px;
	padding-top: 80px;
}

.user-body.eventdetails .event-hero-section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	pointer-events: none;
}

.user-body.eventdetails .event-hero-section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.event-title-container {
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	color: white;
	width: 100%;
	z-index: 2;
}

.event-title-container h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
}

.event-title-container p {
	font-size: 17px;
	max-width: 600px;
	margin-bottom: 30px;
	font-weight: lighter;
}

.event-title-container .btn-register {
	width: fit-content;
}

.event-content {
	display: flex;
	gap: 100px;
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.event-content .event-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
	overflow-y: auto;
}

.event-content .event-left h2 {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 10px;
	color: var(--text-color);
}

.event-content p {
	font-size: 14px;
	color: var(--sec-text-color) !important;
	font-weight: normal !important;
}

.event-content h3 {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 15px;
	color: var(--text-color);
}

.event-content .event-organizers .organizer-list,
.event-content .event-speakers .speaker-list {
	display: flex;
	gap: 50px;
	overflow-x: auto;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	list-style: none;
}

.event-content .event-speakers .speaker-list {
	flex-direction: column;
	gap: 30px;
}

.event-content .event-organizers .organizer-list .organizer-item,
.event-content .event-speakers .speaker-list .speaker-item {
	display: flex;
	align-items: start;
	border-radius: 10px;
	gap: 15px;
	flex: 0 0 auto;
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.event-content .event-organizers .profile-circle,
.event-content .event-speakers .profile-circle {
	width: 45px;
	height: 45px;
	flex-shrink: 0;
}

.event-content .event-speakers .profile-circle {
	width: 70px;
	height: 70px;
}

.profile-circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50px;
}

.event-content .event-organizers h4,
.event-content .event-speakers h4 {
	color: var(--text-color);
	font-size: 15px;
	margin: 0;
}

.event-content .event-right {
	flex: none;
	width: 350px;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--border-color);
	padding: 20px;
	border-radius: 10px;
	height: fit-content;
}

.event-info-item {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	margin-bottom: 15px;
}

.event-icon {
	font-size: 20px;
	color: var(--bg-button-color);
	margin-top: 10px;
}

.event-content .event-right label,
.event-content .event-right p {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 14px;
	font-weight: 500;
	color: var(--text-color);
}

@media (max-width: 1300px) {
	.gdg-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 920px) {
	.gdg-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 50px;
	}

	.event-content {
		flex-direction: column;
		gap: 30px;
	}
	.event-content .event-right {
		width: 100%;
	}
}

@media (max-width: 550px) {
	.gdg-grid {
		grid-template-columns: repeat(1, 1fr);
		gap: none;
	}
}

@media (max-width: 670px) {
	.user-body.eventdetails .event-hero-section {
		height: auto;
		min-height: 0;
	}

	.event-title-container {
		top: 50%;
	}
}

@media (max-width: 520px) {
	.event-title-container h1 {
		font-size: 35px;
		line-height: 1;
		margin-bottom: 10px;
	}

	h2.section-title {
		font-size: 30px;
		margin-bottom: 10px;
	}
}
